{% macro team_players_table(game, team) %}
    {% set players = team.players %}

    {# TODO: get the max number of zones for all players, instead of just the first #}
    {% set fp = players|first %}
    {% set zones = range(1, fp.unit.zones) %}
    {% set column_count = 3 + zones|length %}
    {% set show_hp = false %}
    {% set show_scores = true %}
    {% if game.gameType != 'target' %}
        {% set show_hp = true %}
        {% set show_scores = false %}
    {% endif %}
    <table class="table scores team">
        <thead>
        <tr class="team-color-{{ team.color }}">
            <th colspan="{{ column_count }}">
                <strong class="text-center">
                    {{ team.name }}
                </strong>
            </th>
        </tr>
        <tr>
            <th>#</th>
            <th>{{ 'hittracker.game.player_name'|trans }}</th>
            {% for zone in zones %}
                <th>
                    {{ 'hittracker.game.zone_no'|trans({'%zone_no%': zone}) }}
                </th>
            {% endfor %}
            {% if show_hp %}
            <th class="player-total">
                {{ 'hittracker.game.hit_points'|trans }}
            </th>
            {% endif %}
            {% if show_scores %}
            <th class="player-score">
                {{ 'hittracker.game.score'|trans }}
            </th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for player in players%}
            <tr class="player-{{ player.id }} scores-player"  data-game-radio-id="{{ player.radioId }}">
                <td class="player-id">
                    {{ player.unit.number }}
                </td>
                <td>{{ player.name }}</td>
                {% for zone in range(1, player.unit.zones) %}
                    <td class="zone-{{ zone }}">
                        {{ player.hitsInZone(zone) }}
                    </td>
                {% endfor %}
                {% if show_hp %}
                <td class="player-hit-points">
                    {{ player.hitPoints }}
                </td>
                {%endif %}
                {% if show_scores %}
                <td class="player-score">
                    {{ player.score }}
                </td>
                {% endif %}

            </tr>
        {% endfor %}
        </tbody>
        <tfoot class="team-color-{{ team.color }}">
            <tr>
                <td colspan="{{ zones|length }}"></td>
                <td colspan="2">
                    <p class="text-right">
                        <strong>{{ 'hittracker.game.team_total'|trans }}</strong>
                    </p>
                </td>
                {% if show_scores %}
                <td class="team-total-score">
                    {{ team.score }}
                </td>
                {% endif %}
                {% if show_hp %}
                <td class="team-total-hp">
                    {{ team.hitPoints }}
                </td>
                {% endif %}
            </tr>
        </tfoot>
    </table>
{% endmacro %}
