{% extends '@HitTrackerGame/layout.html.twig' %}
{% block content %}
{% if game %}
    <div class="row">
        <br />
        <strong class="text-center">
            {{ include('@HitTrackerGame/Game/print_scores.html.twig') }}
        </strong>
        <a class="btn btn-danger" href="{{ path('hittracker_game_stop', {'id': game.id }) }}" {{ link_attr('PATCH') }}">
            {{ 'Stop Game'|trans }}
        </a>
        {# include('@HitTrackerGame/Game/hit_simulator.html.twig') #}
    </div>
    <div class="row">
        {{ include('@HitTrackerGame/Game/scores.html.twig') }}
    </div>
    <div class="row">
        {{ include('@HitTrackerGame/Game/activity.html.twig') }}
    </div>
{% else %}
    <div class="row">
        <h1 class="text-center">{{ 'There is no active game'|trans }}</h1>
    </div>
    <div class="row">
        <a href="{{ path('hittracker_game_create') }}" class="btn btn-primary">
            {{ 'New Game'|trans }}
        </a>
    </div>
{% endif %}
{% endblock %}
