{% set game_settings = sylius_settings('game') %}
{% form_theme form '@HitTrackerGame/Game/game_form_theme.html.twig' %}

{% if form.players is not empty %}
{{ form_start(form, {'action': path('hittracker_game_create'),
'attr': {'role': 'form', 'novalidate': 'novalidate'}}) }}
{{  form_errors(form) }}

<div class="row">
    <div class="col-md-3">
    {{ form_row(form.game_type) }}
    </div>
    <div class="col-md-3">
    {{ form_row(form.game_length) }}
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        {{ form_row(form.playerHitPoints) }}
    </div>
    <div class="col-md-3">
        {{ form_row(form.playerHitPointsDeducted) }}
    </div>
</div>
<div class="row">
    <div class="col-md-4">
    {{ form_row(form.reload_players) }}
    </div>
</div>
<div class="row players" data-prototype="{{ form_widget(form.players.vars.prototype)|e }}">
    {% set team_count = game_settings.get('team_count') %}
    {% for team in form.players|partition(team_count) %}
        <div class="col-lg-6 new-game-teams">
            <div class="row">
                <div class="col-lg-2">
                    <div class="form-group team-no">
                        {{  form_widget(attribute(form, 'team' ~ loop.index)) }}
                    </div>
                </div>
                <div class="form-control-static col-lg-5">
                    {{ 'hittracker.game.player_name'|trans }}
                </div>
                <div class="form-control-static col-lg-2">
                    {{ 'hittracker.game.vest'|trans }}
                </div>
                <div class="form-control-static col-lg-3">
                    {% if not 'hidden' == team|first.children.hitPoints.vars.attr.class %}
                    {{ 'hittracker.game.hit_points'|trans }}
                    {% endif %}
                </div>
            </div>
            {% for player in team %}
                <div class="row">
                    {% set team_no = 'hittracker.game.team_no'|trans({'%team_no%': loop.parent.loop.index}) %}
                    {{ form_row(player.team, {'value': team_no}) }}
                    <div class="col-lg-2">
                        {{ '%02d'|format(loop.index) }}
                    </div>
                    <div class="col-lg-5">
                        {{ form_row(player.name, {'label': false}) }}
                    </div>
                    <div class="col-lg-2">
                        {{ form_row(player.vest, {'label': false}) }}
                    </div>
                    <div class="col-lg-2">
                        {{ form_row(player.hitPoints, {'label': false}) }}
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endfor %}
</div>
<br />
<div class="row">
    <div class="col-lg-2">
        {{ form_row(form.start, {'attr': {class: 'btn btn-primary'}}) }}
    </div>
    <div class="col-lg-1">
        {{ form_row(form.reset, {'attr': {class: 'btn btn-danger'}}) }}
    </div>
</div>
{{ form_end(form) }}
{% else %}
    <span class="text-danger">{{ 'hittracker.game.insufficient_vests'|trans }}</span>
{% endif %}
