{% set game_settings = sylius_settings('game') %}
{% form_theme form '@HitTrackerGame/Game/game_form_theme.html.twig' %}

{% if form.teams is not empty %}
{{ form_start(form, {'action': path('hittracker_game_create'),
'attr': {'role': 'form', 'novalidate': 'novalidate', 'id': 'game_form'}}) }}
{{  form_errors(form) }}

<div class="row">
    <div class="col-6 col-lg-2">
    {{ form_row(form.game_type) }}
    </div>
    <div class="col-6 col-lg-2">
    {{ form_row(form.game_length) }}
    </div>
</div>
<div class="row">
    <div class="col-6 col-lg-3">
        {{ form_row(form.settings.playerHitPoints) }}
    </div>
    <div class="col-6 col-lg-3">
        {{ form_row(form.settings.playerHitPointsDeducted) }}
    </div>
    <div class="col-6 col-lg-3">
        {{ form_row(form.settings.playerScorePerHit) }}
    </div>

</div>
<div class="row">
    <div class="col-lg-4">
    {{ form_row(form.reload_players) }}
    </div>
</div>
<div class="row players">
    {% for team in form.teams %}
        <div class="col-xl-6 new-game-teams">
            <div class="row">
                <div class="col-12 col-md-2">
                    <div class="form-group">
                        {{  form_widget(team.name) }}
                    </div>
                </div>
                <div class="form-control-static col-6">
                    {{ 'hittracker.game.player_name'|trans }}
                </div>
                <div class="form-control-static col-3">
                    {{ 'hittracker.game.vest'|trans }}
                </div>
                    {% if not 'd-none' == team.players|first.children.hitPoints.vars.attr.class %}
                    {{ 'hittracker.game.hit_points'|trans }}
                    {% endif %}
            </div>
            {{  form_row(team.color) }}
            {% for player in team.players %}
                <div class="row player player-{{ loop.index }}">
                    <div class="col-2">
                        {{ '%02d'|format(loop.index) }}
                    </div>
                    <div class="col-6">
                        {{ form_row(player.name, {'label': false}) }}
                    </div>
                    <div class="col-3">
                        {{ form_row(player.unit, {'label': false}) }}
                    </div>
                        {{ form_row(player.hitPoints, {'label': false}) }}
                </div>
            {% endfor %}
        </div>
    {% endfor %}
</div>
<br />
<div class="row">
    <div class="col-3">
        {{ form_row(form.start, {'attr': {class: 'btn btn-primary'}}) }}
    </div>
    <div class="col-3">
        {{ form_row(form.reset, {'attr': {class: 'btn btn-danger'}}) }}
    </div>
</div>
{{ form_end(form) }}
{% else %}
    <span class="text-danger">{{ 'hittracker.game.insufficient_vests'|trans }}</span>
{% endif %}
