{% import '@HitTrackerGame/macros/game.html.twig' as game_macros %}

<div class="row">
    <div class="col-lg-6 col-12">
        <h2 class="text-center">
            {% set time_total = game.timeTotal|date('%H:%I') %}
            {{ 'hittracker.game.length_total'|trans({'%time%': time_total}) }}
        </h2>
    </div>

    <div class="col-lg-6 col-12">
        {% if game.active %}
        <h2 class="text-center">
            {{ 'hittracker.game.time_left'|trans }}
            <span id="game-time-countdown" data-server-time="{{ 'now'|date('U', 'UTC') * 1000 }}" data-game-end-time="{{ game.endsAt.timeStamp * 1000 }}">

            </span>
        </h2>
        {% endif %}
    </div>
</div>

<div class="row">
    {% for team in game.teams %}
        <div class="col-md-6 col-12">
           {{ game_macros.team_players_table(game, team) }}
        </div>
    {% endfor %}
</div>
