{% extends 'base.html.twig' %}
{% set site_settings = sylius_settings('site') %}
{% set logo = site_settings.get('scoreboard_logo') %}
{% set banner_1 = site_settings.get('scoreboard_banner_1') %}
{% set banner_2 = site_settings.get('scoreboard_banner_2') %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset(asset_path ~ '/style/scoreboard.css', 'built') }}" type="text/css"/>
{% endblock %}
{% block nav %}{% endblock %}
{% block messages %}{% endblock %}
{% block content %}
    {% if logo %}
        <div class="col-lg-12 logo">
            <img class="mx-auto d-block img-fluid" src="{{ asset(logo, 'uploads') }}" />
        </div>
    {% endif %}
    {% if game %}
        {{ include('@HitTrackerGame/Game/scores.html.twig') }}
        <div class="row">
            {{ include('@HitTrackerGame/Game/activity.html.twig') }}
        </div>
    </div>
    {% else %}
      <h1 class="text-center">{{ 'hittracker.game.none_active'|trans }}</h1>
    {% endif %}
{% endblock %}
{% block footer %}
        <div class="col-12 col-md-6">
            {% if banner_1 %}
                <img class="mx-auto d-block img-fluid" src="{{ asset(banner_1, 'uploads') }}"/>
            {% endif %}
        </div>
    <div class="col-12 col-md-6">
        {% if banner_2 %}
            <img class="mx-auto d-block img-fluid" src="{{ asset(banner_2, 'uploads') }}"/>
        {% endif %}
    </div>
{% endblock %}
