<!DOCTYPE html>
{% import '@HitTrackerGame/macros/game.html.twig' as game_macros %}
{% set siteSettings = sylius_settings('site') %}
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title></title>
        {% block stylesheets %}
            <link rel="stylesheet" media="print" href="{{ asset(asset_path ~ '/style/scorecard.css', 'built') }}" type="text/css"/>
            <style>
               @page {
                    size: 8.5in 11in;
                    margin: 10px;
                }
            </style>
        {% endblock %}
    </head>
    <body class="{{ app.request.get('_route')|replace({'_': '-'}) }}">
        <main role="main" class="container-fluid">
        {% for player in game.players %}
            <div class="scorecard-page">
                <div class="row">
                    <div class="col-6">
                        <h2 class="scorecard-brand">{{ siteSettings.business_name }}</h2>
                    </div>
                    <div class="col-6 scorecard-location-info">
                        {{ siteSettings.business_address|nl2br }}
                        <br />
                        {{ siteSettings.business_phone }} {{ siteSettings.business_email }}
                    </div>
                </div>
                <div class="score-sheet row">
                    <div class="row col-xl-12">
                        <div class="col-6 scorecard-game-player">
                            <strong>Player:</strong>&nbsp;{{ player.name }}
                        </div>
                        <div class="col-6 scorecard-game-meta">
                            {% set time_total = game.timeTotal|date('%H:%I') %}
                            <strong>{{ 'hittracker.game.length'|trans }}:</strong> {{ time_total }}
                            &nbsp;
                            <strong>{{ 'hittracker.game.date'|trans }}:</strong>&nbsp;
                            {{ game.createdAt|localizeddate(format=icu_time_date_format) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-12">
                            {% for team in game.teams %}
                                <div class="scorecard-scores col-lg-6 col-6">
                                   {{ game_macros.team_players_table(game, team) }}
                                </div>
                            {% endfor %}
                        </div>
                    </div>

                </div>
            </div>
        {% endfor %}
        </main>
        {% block javascripts %}
            <script src="{{ asset(asset_path ~ '/js/app.js', 'built') }}"></script>
        {% endblock %}
    </body>
</html>
