{% extends '@HitTrackerGame/layout.html.twig' %}
{% block content %}
    <h1>{{ 'hittracker.game.update'|trans }}</h1>
    {{ form_start(form, {action: path('hittracker_game_update', {id: vest.id}), layout: 'horizontal', method: 'PUT'}) }}
    {{ include ('@HitTrackerGame/Game/form.html.twig') }}
    <br />
    <a href="{{ path('hittracker_game_index') }}">
        {{ 'hittracker.back'|trans }}
    </a>
{% endblock %}
