{% extends '@HitTrackerGame/layout.html.twig' %}
{% block content %}
    {% from '@Common/Macros/misc.html.twig' import pagination %}

    <h1>{{ 'hittracker.vest.list'|trans }}</h1>

    {{ pagination(vests) }}
    <table class="table-striped">
        <thead>
            <tr>
                <th class="col-lg-1">{{ 'hittracker.vest.no'|trans }}</th>
                <th class="col-lg-1">{{ 'hittracker.vest.radio_id'|trans }}</th>
                <th class="col-lg-1">{{ 'hittracker.vest.status'|trans }}</th>
                <th class="col-lg-1">{{ 'hittracker.date_added'|trans }}</th>
                <th class="col-lg-1">{{ 'hittracker.options'|trans }}</th>
            </tr>
        </thead>
        <tbody>
            {% for vest in vests %}
            <tr>
                <td class="col-lg-1">{{ vest.no }}</td>
                <td class="col-lg-1">{{ vest.radioId }}</td>
                <td class="col-lg-1">{{ vest.active }}</td>
                <td class="col-lg-1">
                    {{ vest.createdAt|localizeddate(format=icu_time_date_format) }}
                </td>
                <td class="col-lg-2">
                    <a href="{{ path('hittracker_vest_update', {id: vest.id}) }}">
                        {{ 'hittracker.edit'|trans }}
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br />
    <a href="{{ path('hittracker_vest_create') }}" class="btn btn-primary">
        {{ 'hittracker.vest.add'|trans }}
    </a>
{% endblock %}
