{% extends '@HitTrackerGame/layout.html.twig' %}
{% block content %}
    {% from 'Macros/misc.html.twig' import pagination %}

    <h1>{{ 'hittracker.vest.list'|trans }}</h1>

    {{ pagination(vests) }}
    <table class="table table-responsive-sm table-sm table-striped">
        <thead>
            <tr>
                <th>{{ 'hittracker.vest.id'|trans }}</th>
                <th>{{ 'hittracker.vest.radio_id'|trans }}</th>
                <th>{{ 'hittracker.vest.unit_type'|trans }}</th>
                <th>{{ 'hittracker.vest.color'|trans }}</th>
                <th>{{ 'hittracker.vest.illumination_style'|trans }}</th>
                <th>{{ 'hittracker.vest.zones'|trans }}</th>
                <th>{{ 'hittracker.vest.status'|trans }}</th>
                <th>{{ 'hittracker.date_added'|trans }}</th>
                <th>{{ 'hittracker.options'|trans }}</th>
            </tr>
        </thead>
        <tbody>
            {% for vest in vests %}
            <tr>
                <td>{{ vest.id }}</td>
                <td>{{ vest.radioId }}</td>
                <td>{{ vest.unitType }}</td>
                <td>{{ vest.color }}</td>
                <td>{{ vest.illuminationStyle }}</td>
                <td>{{ vest.zones }}</td>
                <td>{{ vest.active }}</td>
                <td>
                    {{ vest.createdAt|localizeddate(format=icu_time_date_format) }}
                </td>
                <td>
                    <a href="{{ path('hittracker_vest_update', {id: vest.id}) }}">
                        {{ 'hittracker.edit'|trans }}
                    </a>
                    |
                    <a class="unit-turn-on" href="#" data-unit-address="{{ vest.radioId|e }}">
                        Turn On
                    </a>
                    |
                    <a class="unit-turn-off" href="#" data-unit-address="{{ vest.radioId|e }}">
                        Turn Off
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br />
    <a href="{{ path('hittracker_vest_create') }}" class="btn btn-primary">
        {{ 'hittracker.vest.add'|trans }}
    </a>
{% endblock %}
