{% extends '@HitTrackerGame/layout.html.twig' %}
{% block content %}
    <h1>Settings <small>Use this form to update settings</small></h1>
    <hr />

    {% set schema = app.request.attributes.get('schema') %}
    <form action="{{ path('hittracker_' ~ schema ~ '_settings') }}" method="post" class="form-inline form-settings form-settings-{{ schema }}" enctype="multipart/form-data">
    <div class="col-12">
        {{ form_widget(form) }}
    </div>
    <div class="row">
    <div class="form-actions">
        <button type="submit" class="btn btn-primary btn-lg"><i class="glyphicon glyphicon-save"></i> {{ 'sylius.save_changes'|trans }}</button>
        <a href="{{ app.request.headers.get('referer') }}" class="btn btn-danger btn-lg"><i class="glyphicon glyphicon-remove"></i> {{ 'sylius.cancel'|trans }}</a>
    </div>
    </div>
    </form>
{% endblock %}
