<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />

        <title>Hit Tracker - {% block page_title %}{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('style/app') }}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body data-game-events-subscribe-url="{{ game_events_subscribe_url }}" class="d-flex flex-column {{ app.request.get('_route')|replace({'_': '-'}) }}">
        {% block nav %}
                {{ include('navbar.html.twig') }}
        {% endblock %}
        <main role="main" class="flex-grow-1 container-fluid">
            {% block messages %}
                {{ include('messages.html.twig') }}
            {% endblock %}

            {% block content %}{% endblock %}
        </main>
        <footer class="container-fluid">
            <div class="row">
            {% block footer %}
                    {{ include('footer.html.twig') }}
            {% endblock %}
            </div>
        </footer>
        {% block javascripts %}
            {{ encore_entry_script_tags('js/app') }}
        {% endblock %}
        {% if 'prod' != app.environment %}
            <!-- <script src="{{ livereload_script_url }}"></script> -->
        {% endif %}
    </body>
</html>
