<nav role="navigation" class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path('home') }}">
                Hit Tracker
            </a>
        </div>
        <div class="navbar-collapse collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
                <li class="active">
                   <a href="{{ path('home') }}">
                      {{ 'hittracker.home'|trans }}
                   </a>
                </li>
                <li>
                    <a href="{{ path('hittracker_game_create') }}">
                        {{ 'hittracker.game.new'|trans }}
                    </a>
                </li>
                <li>
                    <a href="{{ path('hittracker_game_index') }}">
                        {{ 'hittracker.game.list'|trans }}
                    </a>
                </li>
                <li>
                    <a href="{{ path('hittracker_vest_index') }}">
                        {{ 'hittracker.vest.list'|trans }}
                    </a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="{{ path('hittracker_game_active') }}">
                        {{ 'hittracker.game.active'|trans }}
                    </a>
                </li>
                <li>
                    <a href="{{ path('hittracker_game_scoreboard') }}" target="_blank">
                        {{ 'hittracker.game.scoreboard'|trans }}
                    </a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Settings<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href="{{ path('hittracker_game_settings') }}">
                                {{ 'hittracker.settings.game'|trans }}
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('hittracker_site_settings') }}">
                                {{ 'hittracker.settings.site'|trans }}
                            </a>
                        </li>
                    </ul>
                </li>

                <li>
                    <a href="{{ path('page', {name: 'help'}) }}">
                        {{ 'hittracker.help'|trans }}
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
